body{

    background-color: #225566;

}

.header{

    background-color: #336699;
    width: 50%;
    color: white;
    padding: 20px;
    border-radius: 2px;

}

h1{

    margin-top: 0;
    margin-bottom: 10px;
    font-size: 36px;

}

img{

    width: 60%;
    height: auto;
    float: right;
    padding-right: 100px;

}

label{

    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: black;

}

input[type="number"], select{

    width: 50%;
    padding: 10px;
    font-size: 12px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    align-self: center;

}

#acomodar{

    display: flex;
    flex-direction: row;
    padding-left: 100px;

}

#contenedor{

    width: 60%;
    height: 90%;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 2px solid #ddd;

}

section{

    background-color: #f9f9f9;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;

}

#lefteando{

    display: flex;
    flex-direction: column;
    width: 100%;

}

h2{

    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;

}

label[for="pagoinicial"],
label[for="totaladinanciar"],
label[for="pagomensual"],
label[for="masculino"],
label[for="femenino"] {

    font-size: 20px;
    display: inline-block;
    margin-right: 10px;

}

input[type="text"] {

    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;

}

button{

    padding: 10px 20px;
    background-color: #225566;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 2px;
    cursor: pointer;

}

button:hover {

    background-color: #225566;

}

p{

    max-width: 600px;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 20px;

}

table{

    width: 80%;
    border: 1px solid #000;

}

tr,td{

    width: 20%;
    text-align: center;
    border: 1px solid #000;
    font-size: 15px;
    vertical-align: top;
    border-spacing: 0;

}
