*{
    padding: 0;
    margin: 0;
}

body{

    color: white;
    font-family: 'Times New Roman', Times, serif;
    background-image: url("/img/fondo.jpg");

}

header{

    background-color: #4e4a61;
    width: 80%;
    height: 10%;
    padding: 20px;
    margin: 40px 0 10px;
}

section{

    background-color: transparent;
    width: 80%;
    height: 400px;
    padding: 20px;
    border: solid 3px white;

}

ul{

    text-align: center;
    padding: 10px;

}

li{

    display: inline;
    padding: 10px 30px;
    margin: 3em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

}

li a:hover{

    color: crimson;
    text-decoration: none;
    list-style: none;

}

.texto{

    color: white;
    text-decoration: none;
    list-style: none;

}