header{

    background-color: #57789a;
    padding: 20px;
    text-align: center;
    color: white;
    margin: 30px 0;

}

#contenedor{

    width: 90%;
    height: 95%;

}

table{

    border: 2px solid white;
    width: 90%;
    background-color: white;
    color: #000;
    font-size: 30px;

}

td{

    text-align: center;
    font-size: 20px;
    background-color: #cccdcd;

}

img{

    width: 100px;
    height: 100px;
    padding: 20px;

}