*{

    box-sizing: border-box;

}

body{

    font-family: Arial, Helvetica, sans-serif;
    background-color: #4765ff;
    margin: 20px;
    padding: 10px;

}

#contenedor{

    width: 80%;
    height: 90%;
    background-color: #faab00;
    padding: 15px;

}

header{

    padding: 50px;
    background-color: #ffc32e;
    text-align: center;
    

}

.row{

    display: flex;
    flex-wrap: wrap;

}

aside{

    background-color: #ffc32e;
    padding: 50px;
    flex: 30px;

}

section{

    background-color: #ffc32e;
    flex: 70%;
    padding: 20px;

}

button{

    border-radius: 2px;
    padding: 15px 20px;
    font-size: 15px;
    background-color: #4765ff;
    color: white;
    cursor: pointer;
    border: 10px;
}

button:hover{
    background-color: #336699;
}

label[for="numGen"], 
label[for=""],
label[for=""]{

    font-size: 20px;
    display: block;

}

input[type="number"]{

    width: 25%;
    padding: 5px;
    border: 2px solid #ddd;
    border-radius: 2px;
    margin-bottom: 20px;
    box-sizing: border-box;

}

select{

    width: 10%;
    padding: 5px;
    border: 2px solid #ddd;
    border-radius: 2px;
    margin-bottom: 20px;
    box-sizing: border-box;

}

.texto{

    font-weight: bold;

}

p{

    max-width: 600px;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 20px;
    font-weight: bold;

}

@media screen and (max-width: 700px ){
    
     .row{

        flex-direction: column;

    }

    body {background-color: black;}

}